---
import { Image } from "astro:assets";
import ketoBreadImage from "@/assets/images/products/keto-bread.png";
import shiratakiRice from "@/assets/images/products/shirataki-rice.png";
import mealPlan from "@/assets/images/products/meal-plan.png";

const products = [
  {
    image: shiratakiRice,
    suffix: "Dry Shirataki Rice",
    title: "28 calories per serving",
    description:
      "Low-carb rice alternative made from konjac. Virtually calorie-free, high in fiber, and easy to prepare.",
    delay: null,
  },
  {
    image: ketoBreadImage,
    suffix: "Keto Bread",
    title: "17 g of protein per slice",
    description:
      "Low-carb, high-protein bread made with almond flour. Perfect for sandwiches, toast, or your favorite spreads.",
    delay: "0.2s",
  },
  {
    image: mealPlan,
    suffix: "Meal Plan",
    title: "The Insulin Sensitivity Reset Diet",
    description:
      "Low-carb, high-protein meals designed to balance hormones, not count calories. Juicy, tasty, and filling.",
    delay: "0.4s",
  },
];
---

<section id="products" class="our-key-fact bg-section dark-section">
  <div class="container">
    <div class="row section-row">
      <div class="col-lg-12">
        <div class="section-title section-title-center">
          <h3 class="wow fadeInUp">Our Products</h3>
          <h2 data-cursor="-opaque" class="text-anime-style-3">
            Eat the foods you love while staying on track with your goals
          </h2>
        </div>
      </div>
    </div>

    <div class="row">
      {
        products.map((product) => (
          <div class="col-xl-4 col-md-6">
            <div data-wow-delay={product.delay} class="key-fact-item wow fadeInUp">
              <div class="key-fact-item-image">
                <figure>
                  <Image
                    src={product.image}
                    alt={product.title}
                    width={450}
                    height={340}
                    loading="lazy"
                    format="webp"
                  />
                </figure>
              </div>
              <div class="key-fact-item-body">
                <div class="key-fact-item-counter">
                  <h2>{product.suffix}</h2>
                </div>
                <div class="key-fact-item-content">
                  <h3>{product.title}</h3>
                  <p>{product.description}</p>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <div class="col-lg-12">
      <div data-wow-delay="0.4s" class="section-footer-text wow fadeInUp">
        <p>
          <span class="text-light">Shop</span> Best paired with BODYBYALS Online Coaching and Nutrition Guide.
          <a href="https://bodybyals.passio.eco/" target="_blank" class="link-light">Buy Now</a>
        </p>
      </div>
    </div>
  </div>
</section>
